<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iiifi.shop.activity">

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tashuo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.iiifi.shop.modules.syscenter.activity.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.iiifi.shop.modules.user.activity.LoginActivity" />
        <activity android:name="com.iiifi.shop.modules.user.activity.RegisterActivity" />
        <activity android:name="com.iiifi.shop.modules.user.activity.SpeedActivity" />
        <activity android:name="com.iiifi.shop.modules.user.activity.ResetPwdActivity" />
        <activity android:name="com.iiifi.shop.modules.syscenter.activity.CommonWebActivity" />
        <activity
            android:name="com.iiifi.shop.modules.dynamic.activity.DynamicAddActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|stateHidden">
            >
        </activity>
        <activity android:name="com.iiifi.shop.modules.friends.activity.FriendsListActivity" />
    </application>

</manifest>